<div class="dialog">
  <h2 id="reset-dialog-title" class="dialog__title">{{ 'admin.users.resetDialog.title' | translate }}</h2>
  <p id="reset-dialog-desc" class="dialog__desc">
    {{ 'admin.users.resetDialog.description' | translate: { name: data.userName } }}
  </p>
  <form [formGroup]="form" (ngSubmit)="confirm()">
    <mat-form-field appearance="outline" class="dialog__field">
      <mat-label>{{ 'admin.users.create.password' | translate }}</mat-label>
      <input matInput formControlName="newPassword" type="password" autocomplete="new-password" cdkFocusInitial />
      <mat-error>{{ 'auth.changePassword.minLength' | translate }}</mat-error>
    </mat-form-field>
    <div class="dialog__actions">
      <button type="button" mat-button (click)="cancel()">
        {{ 'admin.users.create.cancel' | translate }}
      </button>
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">
        {{ 'admin.users.actions.confirmReset' | translate }}
      </button>
    </div>
  </form>
</div>
