<div class="dialog" cdkTrapFocus cdkTrapFocusAutoCapture>
  <h2 class="dialog__title" id="update-rate-dialog-title">
    {{ 'edition.updateCommissionRateDialog.title' | translate }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="confirm()">
    <mat-form-field appearance="outline" class="dialog__field">
      <mat-label>{{ 'edition.updateCommissionRateDialog.label' | translate }}</mat-label>
      <input
        matInput
        type="number"
        step="0.01"
        formControlName="commissionRate"
        [min]="0"
        [max]="100"
        cdkFocusInitial />
      @if (form.controls.commissionRate.errors?.['required']) {
        <mat-error>{{ 'edition.updateCommissionRateDialog.error.required' | translate }}</mat-error>
      }
      @if (form.controls.commissionRate.errors?.['min']) {
        <mat-error>{{ 'edition.updateCommissionRateDialog.error.min' | translate }}</mat-error>
      }
      @if (form.controls.commissionRate.errors?.['max']) {
        <mat-error>{{ 'edition.updateCommissionRateDialog.error.max' | translate }}</mat-error>
      }
      @if (form.controls.commissionRate.errors?.['maxDecimals']) {
        <mat-error>{{ 'edition.updateCommissionRateDialog.error.maxDecimals' | translate }}</mat-error>
      }
    </mat-form-field>

    <div class="dialog__actions">
      <button type="button" mat-button (click)="cancel()">
        {{ 'edition.create.cancel' | translate }}
      </button>
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">
        {{ 'edition.updateCommissionRateDialog.confirm' | translate }}
      </button>
    </div>
  </form>
</div>
