<app-dialog-shell [title]="data.title" (close)="cancel()">
  <p id="dialog-desc" class="dialog__description">{{ data.description }}</p>
  <div class="dialog__actions">
    <button type="button" mat-button cdkFocusInitial (click)="cancel()">
      {{ data.cancelLabel ?? ('common.dialog.cancel' | translate) }}
    </button>
    <button
      type="button"
      mat-flat-button
      [color]="data.confirmVariant === 'error' ? 'warn' : 'primary'"
      (click)="confirm()">
      {{ data.confirmLabel ?? ('common.dialog.confirm' | translate) }}
    </button>
  </div>
</app-dialog-shell>
