<h1>{{ 'account.title' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="language">{{ 'account.language.label' | translate }}</label>
    <select id="language" formControlName="language">
      <option value="EN">{{ 'account.language.EN' | translate }}</option>
      <option value="FR">{{ 'account.language.FR' | translate }}</option>
    </select>
  </div>

  <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid || isSaving()">
    {{ 'account.save' | translate }}
  </button>
</form>
