<div class="dialog" cdkTrapFocus cdkTrapFocusAutoCapture>
  <h2 class="dialog__title" id="update-lang-dialog-title">
    {{ 'edition.updateDocumentLanguageDialog.title' | translate }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="confirm()">
    <mat-form-field appearance="outline" class="dialog__field">
      <mat-label>{{ 'edition.updateDocumentLanguageDialog.label' | translate }}</mat-label>
      <mat-select formControlName="documentLanguage" cdkFocusInitial>
        <mat-option value="EN">{{ 'admin.settings.language.EN' | translate }}</mat-option>
        <mat-option value="FR">{{ 'admin.settings.language.FR' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="dialog__actions">
      <button type="button" mat-button (click)="cancel()">
        {{ 'edition.create.cancel' | translate }}
      </button>
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">
        {{ 'edition.updateDocumentLanguageDialog.confirm' | translate }}
      </button>
    </div>
  </form>
</div>
